<h2>Les Décorateurs</h2>
<div class="row">
  <aside class="col-2">
    <nav class="list-group">
      <a class="list-group-item list-group-item-action" routerLink="/decorator/content-child">Content Child</a>
      <a class="list-group-item list-group-item-action" routerLink="/decorator/input">Input</a>
      <a class="list-group-item list-group-item-action" routerLink="/decorator/output">Output</a>
    </nav>
  </aside>
  <section class="col-10">
    <router-outlet></router-outlet>
  </section>
</div>
