<div class="container-fluid">
  <header class="pt-5">
    <h1>Formation Angular Approfondissement</h1>
    <hr/>
  </header>
  <nav class="nav">
    <a class="nav-link" routerLink="/">Accueil</a>
    <a class="nav-link" routerLink="/observable">Les Observables</a>
    <a class="nav-link" routerLink="/decorator">Les Décorateurs</a>
    <a class="nav-link" routerLink="/users">Listes des utilisateurs</a>

    <a class="nav-link" routerLink="/private">Privé</a>
    <a class="nav-link" routerLink="/quotes">Citations</a>
    <a class="nav-link" routerLink="/login">Connexion</a>
  </nav>
  <app-user-profile></app-user-profile>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="mt-5">
    <p class="small text-center">Angular Appro - FOAD BNP - Juin 2023</p>
  </footer>
</div>

<div *ngIf="waiting" class="position-absolute start-0 top-0 h-100 w-100 d-flex justify-content-center align-items-center bg-body-tertiary opacity-50">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
